#vertical-menu {
    margin: 1rem 4rem;
    display: inline-block;
}

#horizontal-menu {
    --menu_height: 7rem;
    --sub-categorie_width: 9rem;
    --sub-categorie_height: 8rem;
    --sub-categorie_button_height: var(--spacing-12x);
    --scroll-button-height: calc(var(--spacing-5x) + var(--spacing-0-5x) * 2);
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
    outline: none;
}

.horizontal-sub-menu {
    position: relative;
    height: 0;
    opacity: 0;
}

.horizontal-sub-menu--show {
    opacity: 1;
    height: var(--sub-categorie_height);
    transition: all var(--widget-animation-slow);
}

.horizontal-menu__scroll-container {
    overflow: scroll;
    scrollbar-width: none;
}

.horizontal-menu__scroll-container::-webkit-scrollbar {
    display: none;
}

.horizontal-menu__scroll-button {
    position: absolute;
}

.horizontal-menu__scroll-button--categories {
    top: calc((var(--menu_height) - var(--scroll-button-height))/2);
}

.horizontal-menu__scroll-button--sub-categories {
    top: calc((var(--sub-categorie_button_height) - var(--scroll-button-height))/2);
}

.horizontal-menu__scroll-button--left {
    left: calc(var(--spacing-5x)/-2);
}

.horizontal-menu__scroll-button--right {
    right:calc(var(--spacing-5x)/-2);
}

.vertical-menu__container {
    display: block;
    max-height: 0;
    transition: all var(--widget-animation-slow) ease-in-out;
    margin-left: 0;
    padding: 0;
    overflow-y: hidden;
    position: absolute;
    background: white;
    z-index: 1;
}

.vertical-menu__container--accordion {
    position: static;
}

.vertical-menu__container--open {
    max-height: 20rem;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow-y: auto;
}

.select-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.select-menu--row {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-1x);
    align-items: center;
}

.select-menu--row-centered {
    justify-content: center;
}

.select-menu__label {
    width: 6rem;
    display: inline-block;
}

.select-menu__button {
    border: none;
    padding: .5rem;
    cursor: pointer;
}

.select-menu__breadcrum-level {
    padding: .5rem;
    background: #009688;
    color: white;
}

.select-menu__breadcrum-level:hover {
    background: #80cbc4;
}

.select-menu__breadcrum-sub-level {
    padding: .5rem;
    background: #4db6ac;
    color: white;
}

.select-menu__breadcrum-sub-level:hover {
    background: #80cbc4;
}

.select-menu__caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .2rem;
    vertical-align: middle;
    border-top: .4rem solid;
    border-right: .4rem solid transparent;
    border-left: .4rem solid transparent;
}

.select-menu__item {
    cursor: pointer;
    list-style-type: none;
    user-select: none;
}

.select-menu input[type=radio] {
    appearance: none;
    position: absolute;
    width: auto;
}

.select-menu__item--vertical {
    display: inline-block;
    color: white;
    background: #009688;
    width: 100%;
    padding: .5rem .5rem .5rem 1rem;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}

.select-menu__item--horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--colors-text-title);
    width: 12.5rem;
    height: var(--menu_height);
    box-sizing: border-box;
    padding: var(--spacing-2x);
    border-radius: var(--radius-md);
    overflow: hidden;
}

.select-menu__item--horizontal svg {
    position: absolute;
    right: -19.874px;
    bottom: -27.421px;
    width: 158.415px;
    height: 105.879px;
    transform: rotate(-6deg);
}

.select-menu__item--selectable {
    border: var(--button-border-thickness) solid var(--colors-background-default);
    outline: none;
    transition: border-color var(--widget-animation);
}

.select-menu__item--selectable:hover {
    border-color: var(--colors-border-hover);
}

.select-menu input:checked + .select-menu__item--selectable,
.select-menu input:checked + label .select-menu__item--selectable {
    cursor: default;
    border-style: solid;
    border-color: var(--colors-border-active);
}

.select-menu__sub-item {
    outline: none;
}

.select-menu__sub-item--vertical {
    display: inline-block;
    padding-left: 1.5rem;
    background: #4db6ac;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.select-menu__sub-item--horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: var(--sub-categorie_width);
}

.select-menu__sub-item-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--sub-categorie_button_height);
    width: var(--sub-categorie_width);
    border-radius: var(--radius-md);
    margin-bottom: var(--spacing-1x);
    box-sizing: border-box;
    user-select: none;
}

.select-menu__sub-item-button svg {
    height: var(--spacing-9x);
    width: var(--spacing-15x);
}

.select-menu__sub-item-label {
    text-align: center;
    user-select: none;
    font-size: var(--spacing-1-5x);
    color: var(--colors-text-default);
}

.select-menu__item--vertical:hover,
.select-menu__sub-item--vertical:hover {
    background: #80cbc4;
}

.select-menu__nb-apps, .select-menu__sub-nb-apps {
    position: absolute;
    left: var(--spacing-1x);
    bottom: var(--spacing-1x);
    border-radius: var(--radius-sm);
    background: var(--colors-text-title);
    color: var(--colors-text-inverted);
    font-size: var(--spacing-1-5x);
    padding: var(--spacing-0-25x);
    padding-top: var(--spacing-0-75x);
    min-width: var(--spacing-2x);
    text-align: center;
}

.select-menu__sub-nb-apps {
    bottom: var(--spacing-4x);
}

.bg-default { background-color: var(--colors-background-default); }
.bg-all { background-color: var(--colors-category-all-normal); }
.bg-french { background-color: var(--colors-category-french-normal); }
.bg-mathematics { background-color: var(--colors-category-mathematics-normal); }
.bg-artistic { background-color: var(--colors-category-artistic-normal); }
.bg-games { background-color: var(--colors-category-games-normal); }
.bg-world { background-color: var(--colors-category-world-normal); }
.bg-languages { background-color: var(--colors-category-languages-normal); }
.bg-emc { background-color: var(--colors-category-emc-normal); }
.bg-accessories { background-color: var(--colors-category-accessories-normal); }
.bg-sciences { background-color: var(--colors-category-sciences-normal); }